body{
    background-color: #333333;
}

/* ===== NAV BAR ===== */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background-color: #49584c; /* tvoje tmavě modrá */
    display: flex;
    align-items:center;
    /*justify-content: space-between;*/

    padding: 0 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    z-index: 1000;
}

/* Logo */
nav .logo img {
    height: 45px;
    cursor: pointer;
}

/* Menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #acacac; /* světle šedá */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.25s ease;
}

/* Hover efekt */
.nav-links a:hover {
    color: #c52f33;
    text-shadow: 0 0 10px #c52f33;
}

/* Aktivní položka */
.nav-links a.active {
    color: #c52f33; /* červená */
    font-weight: 700;
}

/* Aby obsah nezačínal pod navigací */
body {
    padding-top: 80px;
}
